{% extends "background/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div>
  <h2>Inspection ID: #{{ object.id }}</h2>
  <form method="post">
    {% csrf_token %}

    <!-- Customers can only edit this fields on new inspections  -->
    {% if request.user.is_staff or object == None%}
    <div class="row">
      <div class="col-md-8 mb-0">
        {{ form.claimID|as_crispy_field }}
      </div>
      <div class="col-md-4 mb-0">
        {{ form.status|as_crispy_field }}
      </div>
    </div>
    {% else %}
    {{ form.claimID.as_hidden }}
    {{ form.status.as_hidden }}
    {% endif %}
  
    <div class="row">
      <div class="col-md-6 mb-0">
        {{ form.vin|as_crispy_field }}
      </div>
      <div class="col-md-4 mb-0">
        {{ form.colour|as_crispy_field }}
      </div>
      <div class="col-md-2 mb-0">
        {{ form.year|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-0">
        {{ form.make|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ form.model|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-0">
        {{ form.scheduledDate|as_crispy_field }}
      </div>
      <div class="col-md-6 mb-0">
        {{ form.scheduledTime|as_crispy_field }}
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save Inspection</button>

  </form>

</div>

{% endblock %}

{% block js %}
<!-- Force select fields to select class -->
<script>
  document.getElementById("id_claimID").className = "form-select";
  document.getElementById("id_status").className = "form-select";
</script>
{% endblock %}