{% extends 'background/base.html' %}

{% block content %}
<div class="row">
    <div class="d-grid col-md-2">
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="history.back()">Go Back</button>
    </div>
    <div class="col-md-10">
        <h1 class="text-left">All Inspections</h1>
    </div>
</div>
<br>
    <div class="card mb-4">
        <a  type="button" class="btn btn-primary btn-lg btn-block" href='{% url "inspections:create" %}'>New Inspection</a>
    </div>
<div class="row">
    <div class="col-md-12 d-flex align-items-stretch">
        <div class="card card-body card border-primary">
            <h5 class="card-title">Inspections Table</h5>
            <table class="table">
                <tr>
                    <th>Claim ID</th>
                    <th>Customer</th>
                    <th>VIN</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Colour</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>ID</th>
                </tr>
                {% for ins in inspections %}
                <tr>
                    <td>{{ins.claimID.id}}</td>
                    <td>{{ins.claimID.warrantyID.customerID.first_name}} {{ins.claimID.warrantyID.customerID.last_name}}</td>
                    <td>{{ins.vin|make_list|slice:":8"|join:""}}<wbr>{{ins.vin|make_list|slice:"9:"|join:""}}</td>
                    <td>{{ins.make}}</td>
                    <td>{{ins.model}}</td>
                    <td>{{ins.year}}</td>
                    <td>{{ins.colour}}</td>
                    <td>{{ins.get_status_display}}</td>
                    <td>{{ins.scheduledDate|date:"M d, Y" }}</td>
                    <td>{{ins.id}} <a href='{{ ins.get_absolute_url }}'>View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}