{% extends 'background/base.html' %}




{% block content %}
<h1>Reporting</h1>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Coming Soon</div>
            <div class="card-body">
                <h5 class="card-title">Claim</h5>
                <p class="card-text">Claims reporting page</p>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <a class="card-header" href="{% url 'reporting:inspection' %}">Click to Open</a>
            <div class="card-body">
                <h5 class="card-title">Inspections</h5>
                <p class="card-text">Inspections reporting page</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Coming Soon</div>
            <div class="card-body">
                <h5 class="card-title">Sales</h5>
                <p class="card-text">Sales Reporting Page</p>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <a class="card-header" href="{% url 'reporting:inventory' %}">Click to Open</a>
            <div class="card-body">
                <h5 class="card-title">Inventory</h5>
                <p class="card-text">Inventory Reporting Page</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a class="btn btn-outline-danger">Claims</a>
    <a class="btn btn-outline-primary" href="{% url 'reporting:inspection' %}">Inspections</a>
    <a class="btn btn-outline-danger">Sales</a>
    <a class="btn btn-outline-primary" href="{% url 'reporting:inventory' %}">Inventory</a>
</div> -->

{% endblock %}