{% extends 'background/base.html' %}

{% block content %}
<div class="row">
    <div class="d-grid col-md-2">
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="history.back()">Go Back</button>
    </div>
    <div class="col-md-10">
        <h1 class="text-left">Inspections</h1>
    </div>
</div>
<br>

    
<div class="row">
    <div class="col-md-8 d-flex align-items-stretch">
        <div class="card card-body card border-primary">
            <h5 class="card-title">Inspections Status</h5>
            <table class="table">
                <tr>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
                {% for status in inspection_status_list %}
                <tr>
                    <td>{{status.0}}</td>
                    <td>{{status.1}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 d-flex align-items-stretch">
        <div class="card card-body card border-primary">
            <h5 class="card-title">Inspections Table</h5>
            <table class="table">
                <tr>
                    <th>Claim</th>
                    <th>VIN</th>
                    <th>Status</th>
                    <th>Scheduled Date</th>
                    <th>ClaimID</th>
                </tr>
                {% for inspection in inspection_list %}
                <tr>
                    <td>{{inspection.claimID}}</td>
                    <td>{{inspection.vin}}</td>
                    <td>{{inspection.get_status_display}}</td>
                    <td>{{inspection.scheduledDate}}</td>
                    <td>{{inspection.claimID_id}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<img src="data:image/png;base64,{{image_base64}}"
 alt="some text to display to your users when the image does not show correctly" width=500 height=auto />

{% endblock %}


