{% extends "background/base.html" %}


{% block content %}

<style>
    .order-form {
        border-bottom: 1px solid black;
    }
    .hidden {
        display: none
    }
</style>

<div style='margin-top:30px;'>
    {% include 'inventory/partials/forms.html' %}
</div>
<br>
<div class="row">
    <div class="card text-white bg-danger mb-3" style="max-width: 28rem;">
        <div class="card-header">Warning</div>
        <div class="card-body">
          <h5 class="card-title">Deleting Order Lines</h5>
          <p class="card-text">Deleting Order Lines is prohibited due to accounting standards. To ignore an order line, set the quantity to zero (0).</p>
        </div>
      </div>
</div>
<!-- {% endblock %}

{% block js %} -->
<script>
    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    
    addMoreBtn.addEventListener('click', add_new_form)
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const currentOrderForms = document.getElementsByClassName('order-form')
        const currentFormCount = currentOrderForms.length // + 1
        const formCopyTarget = document.getElementById('order-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'order-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }
</script>
{% endblock %}