{% extends "background/base.html" %}
{% block content %}

<div class="row">
    <div class="d-grid col-md-2">
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="history.back()">Go Back</button>
    </div>
    <div class="col-md-10">
        <h1 class="text-left">Inventory: Orders</h1>
    </div>
</div>
<br>
<div class="card mb-4">
    <a type="button" class="btn btn-primary btn-lg btn-block" href='{% url "inventory:create" %}'>New Order</a>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table id="table_db" class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Dealership</th>
                        <th>Salesperson</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in object_list %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.dealershipID}}</td>
                        <td>{{order.salespersonID}}</td>
                        <td>${{order.get_order_form_total|floatformat:2}}</td>
                        <td><a href='{{ order.get_absolute_url }}'>View</a></td>

                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#table_db').DataTable();
    });
</script>
</div>
{% endblock %}